
.outer-border {
    clip-path: polygon(
        0% 0%,      /* Top left */
        52px 0%,
        57px 5px,
        100% 5px,      /* Top right */
        100% 54px,    /* start bottom right angle */
        289px 100%,    /*  finish bottom right angle */
        0% 100%,       /* Bottom left */
        0% 51px,
        1px 50px,
        1px 35px,
        0% 34px
        );
}

.inner-border {
    clip-path: polygon(
        0% 0%,
        50px 0%,
        55px 5px,      
        100% 5px,      
        100% 50px,    
        285px 100%,   
        0% 100%,
        0% 51px,
        1px 50px,
        1px 35px,
        0% 34px
    );
} 

.cybercheckbox {
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        7px 100%,
        0% 8px
    );
}

.inner-cybercheckbox {
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        6px 100%,
        0% 7px
    );
}

.targeted-cybercheckbox {
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 100%,
        5px 100%,
        0% 6px
    );  
}


.no_tasks {
    background: repeating-linear-gradient(    45deg,    theme('colors.dark'), theme('colors.neonr'),    theme('colors.dark') 6px,    theme('colors.dark') 9px);
}

.tabTrigger[data-state="active"] .highlight {
    display: block;
}

.glow-text {
    color: theme('colors.neonr');
    text-shadow:
      0 0 1px theme('colors.neonr'),
      0 0 10px theme('colors.neonr');
}

.filter-button {
    clip-path: polygon(
        0% 0%,
        20px 0%,
        22px 1px,
        100% 1px,
        100% calc(100% - 3px),
        calc(100% - 3px) 100%,
        0% 100%
    );
}

.inner-filter-button {
    clip-path: polygon(
        0% 0%,
        18px 0%,
        21px 1px,
        100% 1px,
        100% calc(100% - 3px),
        calc(100% - 3px) 100%,
        0% 100%
    );
}