@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-2xl;
    @apply my-4;
    @apply font-bold;
  }

  h3 {
    @apply text-xl;
    @apply my-2;
    @apply font-bold;
  }

  p {
    @apply my-4;
  }

  a {
    @apply underline
  }
  /* ... */
}

html {
    background-color: #f1f5f9;
    font-family: sans-serif;
  }
  
  html.dark {
    background-color: #1f1c1c;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }

  body {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
  }

  main {
    flex: 1;
  }

  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  .article a {
    color: #6d48ab;
  }

  html.dark .article a {
    color: #21c382;
  }

  .img {
    width: 100%;
    height: auto;
    margin-left: 0%;
  }

  .img-50 {
    height: auto;
    width: 50%;
    margin-left: 25%;
  }
  
  .img-25 {
    height: auto;
    width: 25%;
    margin-left: 37.5%;
  }
  

  @media screen and (max-width: 635px) {
    .img-mobile {
      width: 100%;
      height: auto;
      margin-left: 0%;
    }
  }