@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-2xl;
    @apply my-4;
    @apply font-bold;
  }

  h3 {
    @apply text-xl;
    @apply my-2;
    @apply font-bold;
  }

  p {
    @apply my-4;
  }

  a {
    @apply underline
  }
  /* ... */
}

html {
    background-color: #f1f5f9;
    font-family: sans-serif;
  }
  
  html.dark {
    background-color: #1f1c1c;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }

  body {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
  }


  
  blockquote {
    background: #f1f5f9;
    border-left: 10px solid #6d48ab;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    filter: brightness(90%);
  }

  blockquote:before {
    color: #6d48ab;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }

  .dark {
    blockquote {
      background: #1f1c1c;
      border-left: 10px solid #21c382;
      filter: brightness(150%);
    }
  
    blockquote:before {
      color: #21c382;
    }
  }

  main {
    flex: 1;
  }

  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  .article a {
    color: #6d48ab;
  }

  html.dark .article a {
    color: #21c382;
  }

  .img {
    width: 100%;
    height: auto;
    margin-left: 0%;
  }

  .img-50 {
    height: auto;
    width: 50%;
    margin-left: 25%;
  }
  
  .img-25 {
    height: auto;
    width: 25%;
    margin-left: 37.5%;
  }
  

  @media screen and (max-width: 635px) {
    .img-mobile {
      width: 100%;
      height: auto;
      margin-left: 0%;
    }
  }