html {
    background-color: #f1f5f9;
    font-family: sans-serif;
  }
  
  html.dark {
    background-color: #08090a;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }

  body {
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }

  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  .article a {
    color: #6d48ab;
  }

  html.dark .article a {
    color: #21c382;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .img-50 {
    height: auto;
    width: 50%;
    margin-left: 25%;
  }
  
  .img-25 {
    height: auto;
    width: 25%;
    margin-left: 37.5%;
  }
  
