---
import DarkLayout from '../layouts/DarkLayout.astro';

const pageTitle = "omg";
const pageDescription = "A blog containing my thoughts and reflections on AI, Software, Board Games and whatever else finds it's way in my mind.";
const seoProps = {
  pageTitle: pageTitle,
  pageDescription: pageDescription,
}

---
<DarkLayout seoProps={seoProps}>
    <div class="mt-2" >xx</div>
</DarkLayout>


<style>
</style>