---
import CyberpunkLayout from '../layouts/CyberpunkLayout.astro';
import CyberTabs from '../components/Cyberpunk/CyberTabs.jsx'

const pageTitle = "Krayorn's Blog";
const pageDescription = "A blog containing my thoughts and reflections on AI, Software, Board Games and whatever else finds it's way in my mind.";
const seoProps = {
  pageTitle: pageTitle,
  pageDescription: pageDescription,
}

const tabsData = [
  {
    title: "Krayorn's blog",
    content: "wow woooow",
    kind: "web",
    status: "live",
  },  
  {
    title: "DonkeyCarrot",
    content: "Crazy app",
    kind: "app",
    status: "in progress"
  },
  {
    title: "bg-log",
    content: "Crazy app",
    kind: "web",
    status: "paused"
  },
  {
    title: "Algorithm arena",
    content: "Crazy app",
    kind: "contest",
    status: "completed"
  },
  {
    title: "Scotland diary",
    content: "Crazy app",
    kind: "web",
    status: "completed"
  },
  {
    title: "Dwarf Clicker",
    content: "Crazy app",
    kind: "web",
    status: "paused"
  },
]

---
<CyberpunkLayout seoProps={seoProps} >
  
  <div class="tabs" >
    <CyberTabs data={tabsData} client:load />
  </div>
</CyberpunkLayout>


<style>
.tabs {
  margin: 0px 10%;
}
</style>