---
const { title, url, pubDate } = Astro.props

var date = new Date(pubDate);
var options = { year: 'numeric', month: 'long' };
var formattedDate = date.toLocaleString('en-US', options);

---
<li>
    <h2><a href={url}>{title}</a></h2>
    <span>{formattedDate}</span>
</li>