---
const { title, url, pubDate, description } = Astro.props

var date = new Date(pubDate);
var options = { year: 'numeric', month: 'long' };
var formattedDate = date.toLocaleString('en-US', options);

---
<li>
    <div><h2><a href={url}>{title}</a></h2><span>{formattedDate}</span></div>
    <p>{description}</p> 
</li>

<style>

div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin-top: 0.4rem;
    margin-bottom: 0;
}

a {
    color: #6d48ab;
}
html.dark a {
    color: #21c382;
}
p {
    color: gray;
    margin-top: 5px;
}
</style>