---
import Social from './Social.astro'
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }

    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #4c1d95;
      text-decoration: none;
    }
</style>


<footer>
  <a href={`https://www.github.com/krayorn`}>github</a>
  <a href={`https://www.twitter.com/krayorn`}>twitter</a>
  <a href="/rss.xml" >RSS</a>
</footer>