---
---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/tags/">Tags</a>
</div>

<style>

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
  }
  
  .nav-links a {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
  }
  
  html.dark .nav-links a {
    color: white;
    border-bottom: 1px solid white;
  }
  
  .expanded {
    display: unset;
    width: fit-content;
  }
  
  @media screen and (min-width: 636px) {
    .nav-links {
      display: block;
    }
  
    .nav-links a {
      display: inline-block;
      margin: 10px 15px;
    }

    .nav-links :first-child {
      padding-left: 0px;
    }
  }

</style>