---
import { SEO } from "astro-seo";

import '../styles/global.css';

const { seoProps } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      canonical={canonicalURL}
      description={seoProps.pageDescription}
      title={seoProps.pageTitle}
      twitter={{
        card: "summary_large_image",
        creator: "@Krayorn",
        title: seoProps.pageTitle,
        description: seoProps.pageDescription,
      }}
      openGraph={seoProps.OG ?? null},
    />
    <slot name="head" />
  </head>
  <body class="h-full min-h-screen" >
      <slot />
  </body>
</html>

<style is:global >
  body {
    font-family: "Rajdhani", sans-serif;

    /* dots grid like
    background: black;
    background-image: radial-gradient(theme('colors.neony') 1px, transparent 0);
    background-size: 100px 100px;
    background-position: -19px -19px; */

  }

  

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.02) 0px,
    rgba(255, 255, 255, 0.02) 1px,
    transparent 2px,
    transparent 3px
  );
  animation: scanlines 2s linear infinite;
  pointer-events: none;
}

@keyframes scanlines {
  from { background-position: 0 0; }
  to { background-position: 0 3px; }
} 


  
  /* pulsing 
   body {
  background: linear-gradient(
    -45deg,
    #0a0002,
    #600020,
    #b300ff,
    #ffcc00,
    #1a1a1a
  );
    background-size: 200% 200%;
    animation: moveBg 10s ease-in-out infinite;
  }

@keyframes moveBg {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} */

  /* .bg-img {
    width: 100vw;
    height: 100vh;
    background-size:cover;
    position: absolute;
    background-image: url(../../public/bg.png);
    filter: blur(20px) grayscale(60%);
  } */


</style>
