---
import { SEO } from "astro-seo";

import '../styles/global.css';

const { seoProps } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      canonical={canonicalURL}
      description={seoProps.pageDescription}
      title={seoProps.pageTitle}
      twitter={{
        card: "summary_large_image",
        creator: "@Krayorn",
        title: seoProps.pageTitle,
        description: seoProps.pageDescription,
      }}
      openGraph={seoProps.OG ?? null},
    />
    <slot name="head" />
  </head>
  <body class="h-full min-h-screen bg-dark" >
      <slot />
  </body>
</html>

<style>
</style>